body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
	 width: 100%;
}

.visible {
  cursor: pointer;
}

.opponent-state .player-state {
  height: 50px;
}

.opponent-cards .battle-field .player-cards {
  height: 150px;
}

img {
  margin: 0px 0px;
  float: left;
}

.selected {
  border-style: solid;
  border-width: medium;
  border-color: red;
}

#champ-down-1 {
  width: 32px;
  height: 32px;
  background: url(img/char-tiles.png) 0 0;
}